cycler==0.11.0
et-xmlfile==1.1.0
Federico-Pietrocola2022-3==0.0.0
fonttools==4.33.3
imageio==2.19.2
jtutils==0.0.8
kiwisolver==1.4.2
matplotlib==3.5.2
nd2reader==3.3.0
networkx==2.8.2
numpy==1.22.4
openpyxl==3.2.0b1
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
PIMS==0.6.0
pip==22.1.1
pyparsing==3.0.9
python-csv==0.0.13
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
scikit-image==0.19.2
scipy==1.8.1
setuptools==62.3.2
six==1.16.0
slicerator==1.1.0
tifffile==2022.5.4
tk==0.1.0
wheel==0.37.1
xmltodict==0.13.0
